<a [routerLink]="['new']">Add a quotable author</a>
<h3>We have quoted by: </h3>
<div *ngFor="let author of authors">
  <table class="text-center">
    <thead>
      <tr>
        <th>Author</th>
        <th>Actions available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{author.name}}</td>
        <td>
          <button [routerLink]="['/view/', author._id]">View Quotes</button>
          <!-- <button (click)="delete(author._id)">Delete</button> -->
          <button [routerLink]="['/edit/', author._id]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
