<h3>Add new Author: </h3>
<!-- <div class="alert alert-danger" *ngIf="errors.length > 0">{{ errors }}</div> -->
<a [routerLink]="['/']">Home</a>

<div class="row">
  <div class="col-md-4">
    <div class="box text-center">
      <form (submit)="onQuoteSubmit()">
        <div class="row">
          <label>Quote:</label>
        </div>
        <div class="row">
          <input type="text" name="newQuote.quote" [(ngModel)]="newQuote.quote">
        </div>
        <div class="row">
          <button [routerLink]="['/']" class="btn btn-info">Cancel</button>
          <input type="submit" class="btn btn-info" value="submit">
        </div>

      </form>
    </div>

  </div>

</div>
