<div *ngIf="thisAuthor">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button [routerLink]="['/']" class="btn btn-outline-success form-control">Home</button>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/newquote/', thisAuthor._id]" class="btn btn-outline-success form-control">Add a quote</a>
    </div>
    <div class="col-md-4"></div>
  </div>

  <h3>Quotes by {{thisAuthor.name}} </h3>
  <table class="table table-strpied text-center">
    <thead>
      <tr>
        <th>Quote</th>
        <th>Votes</th>
        <th>Actions avaliable</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of thisAuthor.quotes">
          <td>{{quote.quote}}</td>
          <td>{{quote.vote}}</td>
          <td>
            <button (click)="voteUp(quote._id)" class="btn btn-success">Vote Up</button>
            <button (click)="voteDown(quote._id)" class="btn btn-warning">Vote Down</button>
            <button (click)="delete(quote._id)" class="btn btn-danger">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>